{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tag</th>
                <th>Name</th>
                <th>Crew</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.artistTag }}</td>
                <td>{{ artist.artistName }}</td>
                <td>{{ artist.band.bandName }}</td>
                <td>
                    <img src="{{ asset('images/artists/' ~ artist.picture) }}" class="img-thumbnail"
                         alt="{{ artist.artistTag }}" style="width: 10rem">
                </td>
                <td>
                    <a href="{{ path('app_artist_show', {'id': artist.id}) }}">show</a>
                    <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artist_new') }}">Create new</a>
{% endblock %}
