{% extends 'base.html.twig' %}

{% block title %} All Concerts {% endblock %}

{% block body %}
    <div class="container">
        <h1>All Concerts</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Concert Hall</th>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.id }}</td>
                    <td>{{ concert.concertHall.concertHallName }}</td>
                    <td>{{ concert.concertName }}</td>
                    <td>{{ concert.concertDate.format('d F Y') }}</td>
                    <td>{{ concert.status }}</td>
                    <td>
                        <a href="{{ path('concert_show', {'id': concert.id}) }}">show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('concert_update', {'id': concert.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no upcoming concerts</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <br>
            <a href="{{ path('concert_create') }}">
                Create new concert
            </a>
        {% endif %}
    </div>
{% endblock %}