{% extends 'base.html.twig' %}

{% block title %} {{ concert.getConcertName() }} {% endblock %}

{% block body %}
    <div class="container">
        <h3>Location</h3>
        <p>{{ concert.getConcertHall().getConcertHallName() }}</p>

        <h3>Crews</h3>
        {% for band in concert.getBands() %}
            <img src="{{ asset('images/bands/' ~ band.getPicture()) }}" class="img-thumbnail"
                 alt="{{ band.getBandName() }}" style="width: 20rem">
            <a href="{{ path('band_show', {id: band.getId()}) }}">{{ band.getBandName() }}</a>
        {% endfor %}

        <h3>Dancers</h3>
        {% for artist in concert.getArtists() %}
            <img src="{{ asset('images/artists/' ~ artist.getPicture()) }}" class="img-thumbnail"
                 alt="{{ artist.getArtistTag }}" style="width: 10rem">
            <p>{{ artist.getArtistName() }}</p>
        {% endfor %}
    </div>
{% endblock %}