{% extends 'base.html.twig' %}

{% block title %} {{ band.bandName }} {% endblock %}

{% block body %}
    <div class="container">
        <h3>{{ band.bandName }}</h3>
        {% for artist in band.artistMembers %}
            <img src="{{ asset('images/artists/' ~ artist.picture) }}" class="img-thumbnail"
                 alt="{{ artist.artistTag }}" style="width: 10rem">
            <p>{{ artist.artistName }}</p>
        {% endfor %}
    </div>
{% endblock %}